/.DS_Store
/.vscode
/Netflix
/Register.html
/Responsive Admin Dashboard.html
/Responsive Admin Dashboard_files
/Starbucks
/clock
/coca cola
/digital clock
/footer.jpeg
/htmlchl.html
/images
/index.html
/media
/menu.html
/newpage.html
/register2.html
/style copy.css
/style.css
/styles
/test
/untitled.html
/why.html